body {
    position: center;
}

#inceptionImage {
    width: 30%;
}

#harrypotterImage {
    width: 30%;
}

#godfatherImage {
    width: 30%;
}

#nemoImage {
    width: 30%;
}

#wonderwomenImage {
    width: 30%;
}

#starwarsImage {
    width: 30%;
}

#titanicImage {
    width: 30%;
}

#ironmanImage {
    width: 30%;
}

#sparrowImage {
    width: 30%;
}

#lordImage {
    width: 30%;
}



#Q1 {
    visibility: visible;
}

#Q2 {
    visibility: visible;
}

#Q3 {
    visibility: visible;
}

#Q4 {
    visibility: visible;
}

#Q5 {
    visibility: visible;
}

#Q6 {
    visibility: visible;
}

#Q7 {
    visibility: visible;
}

#Q8 {
    visibility: visible;
}

#Q9 {
    visibility: visible;
}

#Q10 {
    visibility: visible;
}